.group > .header {
  display: grid;
  grid-template-columns: auto 101px;
  padding: 0px;
}

.group .label {
  grid-column-start: 1;
  grid-column-end: 1;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
}

.group .buttons {
  grid-column-start: 2;
  grid-column-end: 2;
}