<%= @group.name %>
<ul>
  <% @group.user_groups.each do |member| %>
    <li><%= member.alias %></li>
  <% end %>
</ul>
<% if @user_group %>
  <%= button_to 'Leave Group', "/groups/#{@group.id}/user_groups/#{@user_group.id}", method: :delete %>
<% end %>