<% @groups.each do |group| %>
  <div style="width: 800px;" class="card mx-auto my-4">
    <div class="card-header">
      <h1 class="display-4 d-inline-block mr-2"><%= group.name %></h1>
      <h3 class="d-inline-block">(<%= group.form %>)</h3>
      <% if @joined_groups && !@joined_groups.any?{ |user_group| user_group.group_id == group.id } %>
        <form style="float: right;" class="form-inline d-inline-block ml-2 mr-n1 mt-3" method='get', action="/groups/<%= group.id%>/user_groups/new">
          <button style="display: inline;" type="submit" class="btn btn-primary">Join</button>
        </form>
      <% elsif @current_user %>
        <form style="float: right;" class="form-inline d-inline-block ml-2 mr-n1 mt-3" method='get', action="/groups/<%= group.id%>">
          <button style="display: inline;" type="submit" class="btn btn-secondary">View</button>
        </form>
      <% end %>
    </div>
  </div>
<% end %>