<ul>
  <% @groups.each do |group| %>
    <li><%= group.name %></li>
    <% if @joined_groups && !@joined_groups.any?{ |user_group| user_group.group_id == group.id } %>
      <%= button_to 'Join', "/groups/#{group.id}/user_groups/new", method: :get %>
    <% end %>
  <% end %>
</ul>